[Desktop Entry]
Name=Skillaz Secure Chat
Comment=Network messages transporter
Exec=/usr/share/Skillaz.SecureChat/Skillaz.SecureChat
Icon=/usr/share/Skillaz.SecureChat/logo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Network;P2P;Chat